@import '../../constant.scss';

.header_title {
    color: white;

    @media print {
        color: black;
    }
}

.table-container {
    margin-top: 0.5rem;
    // max-height: 55vh;
    overflow-y: auto;
    border: 1px solid white;

    table {

        width: 100%;
        border-collapse: separate;
        border-spacing: 0;

        @media print {
            color: black;
            border-collapse: collapse;
        }

        thead tr {
            position: sticky;
            top: 0;
            th {
                color: $green;
                font-size: 0.8rem;
                font-weight: 500;
                padding: 0.2rem 0.2rem;
                border: 1px solid white;
                background-color: $black;
                text-align: left;
                border-top: none;


                @media print {
                    color: black;
                    border: 1px solid black;
                }
            }
        }

        tbody tr {
            cursor: pointer;

            // &:hover {
            //     background-color: $deep-purple;
            // }


            &.summary-row {
                position: sticky;
                bottom: 0;
                background-color: $black;

                td {
                    color: $green;
                    font-size: 0.8rem;
                    font-weight: 500;
                    padding: 0.2rem 0.2rem;
                    border: 1px solid white;
                    text-align: left;

                    &.align-center {
                        text-align: center;
                    }
                }
            }
        }

        td {
            padding: 0.1rem 0.2rem;
            font-size: 0.75rem;
            color: white;
            border: 1px solid #444;

            @media print {
                color: black;
                border: 1px solid black;
            }

            &.highlight {
                color: white;
                font-weight: 500;
            }

            &.td_item_name {
                width: 200px;
            }

            &.summary {
                font-size: 0.8rem;
                color: $green;
                font-weight: 400;
            }
        }

    }
}

.top-menu {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid $grey;
    padding-bottom: 1rem;

    @media print {
        display: none;
    }

    h1 {
        margin: 0;
        padding: 0;
    }
    .controlls {
        display: flex;
        gap: 0.5rem;
        align-items: flex-end;

        .custom-input-container {
            width: 300px;
        }

        button.h30 {
            height: 30px;
        }
    }
}

.report-header {
    h2 {
        margin: 0;
        padding: 0;
        span {
            font-size: 0.8rem;
            margin-left: 0.5rem;
        }
    }

}