<div class="page-container">

    <div class="header-input-container">
        <a mat-flat-button routerLink="/stock">Go Back</a>
        <div class="filter-input-container">
            <div class="custom-input-container">
                <label>Filter by Item Name</label>
                <input type="text" name="quantityBox" [formControl]="filterValue">
                <!-- <small class="error-message"></small>    -->
            </div>

            <button class="clear-filter-button" [disabled]="!filterValue.value" mat-flat-button color="primary" (click)="onClearFilter()">Clear</button>
        </div> 
    </div>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th rowspan="2">Sl Id</th>
                    <th rowspan="2">Item Name</th>
                    <th rowspan="2">Brand Name</th>
                    <th rowspan="2">Category Name</th>
                    <th rowspan="2">MRP</th>
                    <th rowspan="2">Piece per Carton</th>
                    <th colspan="2">Quantity</th>

                    <th  rowspan="2">Total Stock (Pieces)</th>
                </tr>
                <tr>
                    <th>Box/Carton</th>
                    <th>Loose Pieces</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of filteredItems; let i = index" (click)="onItemClick(item.item_id)">
                    <td>{{i+1}}</td>
                    <td>{{item.item_name}}</td>
                    <td>{{item.brand_name}}</td>
                    <td>{{item.category_name}}</td>
                    <td>{{item.mrp}}</td>
                    <td>{{item.piece_per_carton	}}</td>
                    <td>{{item.box	}}</td>
                    <td>{{item.loose_piece}}</td>
                    <td>{{item.total_quantity_piece}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>