<div class="dialog-container">
    <div class="dialog-content">
        <div>
            <div class="dialog-header">
                <h2>New Sale | Item : <span class="item-name">{{this.item.item.item_name}}</span> </h2>
                <!-- <h3>Available Quantity - ({{item.item.total_quantity}})</h3> -->
            </div>
            <div class="dialog-body">
                <div class="table-container">
                    <form [formGroup]="itemLinesGroup">
                        <table class="table">
                            <thead class="table-header">
                                <tr>
                                    <th rowspan="2">Pur. Date</th>
                                    <th rowspan="2">Pcs per Box</th>
                                    <th rowspan="2">GST(%)</th>
                                    <th colspan="2">Stock</th>
                                    <th colspan="2">Pur. Price(₹)</th>
                                    <th rowspan="2">Box Qty</th>
                                    <th rowspan="2">Price per Box(₹)</th>
                                    <th rowspan="2">Piece Qty</th>
                                    <!-- <th>Free</th> -->
                                    <th rowspan="2">Price per Piece(₹)</th>
                                    <th rowspan="2">Total Qty(Pcs)</th>
                                    <th rowspan="2">Total Amt.(₹)</th>
                                    <!-- <th>Profit </th> -->
                                </tr>
                                <tr>
                                    <th>Pcs</th>
                                    <th>Box</th>
                                    <th>Pcs</th>
                                    <th>Box</th>
                                </tr>

                            </thead>

                            <tbody>
                                <ng-container formArrayName="lines" *ngFor="let line of getItemsArray; let i = index">
                                    <tr [formGroupName]="i">
                                        <td>{{line?.get('itemDetails')?.value.purchaseDate | date:'dd-MMM-yyyy'}}</td>
                                        <td>{{line?.get('itemDetails')?.value.piecePerCarton}}</td>
                                        <td>{{line?.get('itemDetails')?.value.gst}}</td>
                                        <td>
                                            {{line?.get('itemDetails')?.value.totalStockQuantity}}
                                        </td>
                                        <td>
                                            {{(line?.get('itemDetails')?.value.totalStockQuantity /
                                            line?.get('itemDetails')?.value.piecePerCarton) | getRemainder}}
                                        </td>
                                        <td>
                                            {{line?.get('itemDetails')?.value.purchasePricePerPiece}}
                                        </td>
                                        <td>
                                            {{(line?.get('itemDetails')?.value.purchasePricePerPiece *
                                            line?.get('itemDetails')?.value.piecePerCarton).toFixed(2)}}

                                        </td>
                                        <td>
                                            <div class="custom-input-container">
                                                <!-- <label>MRP</label> -->
                                                <input type="text" name="quantityBox" formControlName="quantityBox"
                                                    required tabindex="">
                                                <!-- <small class="error-message"></small>    -->
                                            </div>
                                        </td>
                                        <td>
                                            <div class="custom-input-container">
                                                <!-- <label>MRP</label> -->
                                                <input type="text" name="pricePerBox" formControlName="pricePerBox"
                                                    required tabindex="">
                                                <!-- <small class="error-message"></small>    -->
                                            </div>
                                        </td>
                                        <td>
                                            <div class="custom-input-container">
                                                <!-- <label>MRP</label> -->
                                                <input type="text" name="quantityPiece" formControlName="quantityPiece"
                                                    required tabindex="">
                                                <!-- <small class="error-message"></small>                -->
                                            </div>
                                        </td>
                                        <td>
                                            <div class="custom-input-container">
                                                <!-- <label>MRP</label> -->
                                                <input type="text" name="pricePerPiece" formControlName="pricePerPiece"
                                                    required tabindex="">
                                                <!-- <small class="error-message"></small> -->
                                            </div>
                                        </td>
                                        <td>{{line?.get('itemDetails')?.value.totalSaleQuantity}}</td>
                                        <td>{{line?.get('itemDetails')?.value.totalAmount}}</td>

                                    </tr>
                                </ng-container>
                                <tr class="summary-row">
                                    <td colspan="7">Total</td>
                                    <td colspan="1">{{totalBoxQuantity}}</td>
                                    <td colspan="1">{{averageBoxPrice}} (Avg.)</td>
                                    <td colspan="1">{{totalPieceQuantity}}</td>
                                    <td colspan="1">{{averagePiecePrice}} (Avg.)</td>
                                    <td colspan="1" class="align-center">{{totalQuantity}}</td>
                                    <td colspan="2" class="align-center">{{totalAmount}}</td>

                                </tr>
                            </tbody>


                        </table>
                    </form>
                </div>
                <!-- <div class="summary-container">
                    <p>Total Box Qty. : {{totalBoxQuantity}}</p>
                    <p>Total Piece Qty. : {{totalPieceQuantity}}</p>
                    <p>Total Qty. : {{totalQuantity}}</p>
                    <p>Total Price : {{totalAmount}}</p>
                </div> -->
            </div>

        </div>

        <div class="dialog-footer">
            <button mat-flat-button color="warn" mat-dialog-close tabindex="-1">Cancel</button>
            <button mat-flat-button color="accent" class="add-button" tabindex="" [disabled]="itemLinesGroup.invalid" (click)="add()">Ok</button>
        </div>
    </div>
</div>