@import '../../constant.scss';

.searchbar {
    display: flex;
    justify-content: center;
}

table {
    border-collapse: collapse;
    border: 1px solid white;
    width: 100%;
    tbody tr{
        cursor: pointer;
        &:hover {
            background-color: $deep-purple;
        }
    }
    th {
        color: white;
        font-size: 0.8rem;
        font-weight: 500;
        padding: 0.2rem 0.2rem;
        border: 1px solid white;
    }

    td {
        padding: 0.2rem 0.2rem;
        font-size: 0.7rem;
        color: $grey;
        &.highlight {
            color: white;
            font-weight: 500;
        }

        &.td_item_name {
            width: 200px;
        }
    }
}