<div class="searchbar">
    <app-search-item (onItemSelection)="onItemSelection($event)"></app-search-item>

    <!-- <button mat-flat-button color="accent" (click)="onItemSelection(item)">Click</button>  *ngIf="purchasedItems.length > 0" -->
</div>


<div class="bill-inputs">
    <div class="date-picker">
        <div>
            <label for="bill-date">Bill Date (DD/MM/YYYY)</label>
            <input matInput id="bill-date" [max]="today" [matDatepicker]="picker" class="date-picker-input"
                [(ngModel)]="purchaseDate" disabled (dateChange)="onDateChange()">
            <mat-datepicker #picker disabled="false"></mat-datepicker>
        </div>

        <button class="date-picker-button" (click)="picker.open()">
            <mat-icon>calendar_month</mat-icon>
        </button>
    </div>

    <div class="biller-details">
        <div class="biller-auto-complete">
            <label>Biller</label>
            <input type="text" class="search-input" placeholder="Search Biller" aria-label="Search Biller" matInput
                [formControl]="billerControl" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayWith"
                (optionSelected)="onBillerSelection($event)">
                <mat-option *ngFor="let option of filteredBillerOptions | async" [value]="option"
                    class="search-item-mat-option">
                    <p>{{ option.biller_name}}</p>
                    <div>
                        <span>{{option.biller_phone}}</span>
                    </div>
                </mat-option>
            </mat-autocomplete>
        </div>
        <button mat-flat-button class="add-biller-button" color="primary" (click)="onAddBiller()">Add Biller</button>

        <!-- <div class="custom-input-container">
            <label for="biller-name">Biller Name (Optional)</label>
            <input id="biller-name" type="text" name="biller-name" [(ngModel)]="billerName">
        </div>

        <div class="custom-input-container">
            <label for="biller-gstn">Biller GSTN (Optional)</label>
            <input id="biller-gstn" type="text" name="biller-gstn" [(ngModel)]="billerGSTN">
        </div> -->
    </div>

</div>
<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>Sl.</th>
                <th>Item Name</th>
                <th>Box/Carton</th>
                <th>Piece Per Carton</th>
                <th>Piece</th>
                <th>Free</th>
                <th>Total Piece</th>
                <th>Price per Piece</th>
                <th>Amt. b/f Disc.</th>
                <th>Total Disc.</th>
                <th>Amt. a/f Disc.</th>
                <th>GST</th>
                <th>Tax</th>
                <th>Total</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of purchasedItems; let i = index" (contextmenu)="onContextMenu($event, item, i)"
                (dblclick)="onEdit(item, i)">
                <td>{{i + 1}}.</td>
                <td class="td_item_name">{{item.item_name}}</td>
                <td>{{item.quantityBox}}</td>
                <td>{{item.piecePerCarton}}</td>
                <td>{{item.quantityPiece}}</td>
                <td>{{item.quantityFree}}</td>
                <td>{{item.totalQuantityPiece}}</td>
                <td>{{item.purchasePricePerPiece}}</td>
                <td>{{item.purchasePriceBeforeDiscount}}</td>
                <td>{{item.discountPrice}}</td>
                <td>{{item.purchasePriceAfterDiscount}}</td>
                <td>{{item.gst}}</td>
                <td>{{item.taxAmount}}</td>
                <td class="highlight">{{item.totalPrice}}</td>

                <div style="visibility: hidden; position: fixed" [style.left]="contextMenuPosition.x"
                    [style.top]="contextMenuPosition.y" [matMenuTriggerFor]="contextMenu">
                </div>

                <mat-menu #contextMenu="matMenu">
                    <ng-template matMenuContent let-item="item" let-i="i">
                        <button mat-menu-item (click)="onEdit(item, i)">Edit</button>
                        <button mat-menu-item (click)="onDelete(item, i)">Delete</button>
                    </ng-template>
                </mat-menu>

            </tr>

            <tr class="summary-row">
                <td colspan="9"></td>
                <td colspan="1">{{totalDiscount}}</td>
                <td colspan="2"></td>
                <td colspan="1">{{totalGst}}</td>
                <td colspan="1">{{totalAmount}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="cta-container">
    <button mat-flat-button color="warn" (click)="onCancelBill()">Cancel</button>
    <button mat-flat-button color="accent" (click)="onSaveBill()"
        [disabled]="billerControl.invalid || purchasedItems.length === 0">Submit</button>
</div>