@import '../../constant.scss';

.searchbar {
    display: flex;
    justify-content: center;
}

table {
    border-collapse: collapse;
    border: 1px solid white;
    width: 100%;
    margin-top: 2rem;
    tbody tr{
        cursor: pointer;
        &:not(:last-child):hover {
            background-color: $deep-purple;
        }

        &:not(:last-child) {
            border-bottom: 1px solid #444;
        }

        &:nth-last-child(2) {
            border-bottom: 1px solid white;
        }
    }
    th {
        color: $green;
        font-size: 0.8rem;
        font-weight: 500;
        padding: 0.2rem 0.2rem;
        border: 1px solid white;
    }

    td {
        padding: 0.1rem 0.2rem;
        font-size: 0.75rem;
        color: white;
        &.highlight {
            color: white;
            font-weight: 500;
        }

        &.td_item_name {
            width: 200px;
        }

        &.summary {
            font-size: 0.8rem;
            color: $green;
            font-weight: 400;
        }
    }
}