<mat-toolbar class="header" color="primary">
    <div class="header__title">
        <button class="header__title-button" mat-mini-fab (click)="openMenu()" color="primary">
          <mat-icon *ngIf="!isMenuOpened" class="header__title-button-icon">menu</mat-icon>
          <mat-icon *ngIf="isMenuOpened" class="header__title-button-icon">arrow_back</mat-icon>
        </button>
        <h1 class="header__title-text">{{currentMenuName}}</h1>
        
         <div class="logo__container">
         </div>
      </div>

      <div>
        <button mat-mini-fab color="primary" (click)="logout()">
          <mat-icon class="header__title-button-icon">logout</mat-icon>
        </button>
      </div>
</mat-toolbar>