@import '../constant.scss';

.dark-bg {
    background-color: $black;
}
.form {
    width: 350px;
    height: 300px;

    .login_header {
        color: white;
        text-align: center;
    }

    .input-full-width {
        width: 100%;
    }

    button[type="submit"] {
        width: 100%;
    }
    .custom-input-container {
        width: 100%;
    }
}

