@import '../../constant.scss';

.dialog-container {
    height: 100%;
}


.dialog-content{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.date-picker {
    width: 200px;
    display: flex;
    align-items: center;
    margin-left: 3px;

    button {
        width: 36px;
        height: 36px;
        top: 9px;
        margin-left: 0.5rem;
    }
}


.dialog-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    
    color: white;
    align-items: center;

    > * {
        padding: 0;
        margin: 0;
    }

    .item-name {
        color: $green;
    }
}
.gst-dropdown {
    border: 1px solid $grey;
    padding: 1px 4px;
    border-radius: 4px;

    &:focus {
        border: 2px solid $green;
    }
}
.dialog-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.add-button {
    width: 160px;
}


.section {
    h4 {
        margin: 0;
        padding: 0;
        color: $purple;
    }
    margin-bottom: 0.5rem;
}
.mrp_row, .quantity_row, .price_row {
    display: flex;
    align-items: center;
    gap: 2rem
}

.ml-32 {
    // margin-left: 32px;
}


.pur-price-aftter-disc {
    color: $grey;
    padding: 4px;
    margin: 0;
    border: 1px solid $grey;
    border-radius: 4px;
}

.details_section {
    padding-top: 1rem;
    &_heading {
        color: white;
        margin: 0;
        padding: 0;
    }

    .details_section_heading {
        color: white;
    }
    table {
        border-collapse: separate;
        border-spacing: 0;
        border: 1px solid white;
        width: 100%;
        th {
            color: white;
            font-size: 1rem;
            font-weight: 500;
            padding: 0.25rem 0.5rem;
            border: 1px solid white;
        }

        tbody td {
            padding: 0.25rem 0.5rem;
            font-size: 1rem;
            color: $grey;
            border: 1px solid #444;
            &.highlight {
                color: white;
                font-weight: 500;
            }
        }
    }

    .per_piece_purprice {
        color: white;
        font-size: 1rem;
        margin-top: 0.5rem;
    }
}

button.add-button:focus {
    outline: 2px solid yellow;
    outline-offset: 4px;
    color: $deep-purple;    
}