<div class="dialog-container">
    <div class="dialog-content">
        <div>
            <div class="dialog-header">
                <h2>New Purchase | Item : {{item.item_name}} </h2>
                <h3>Available Quantity - ({{item.total_quantity}})</h3>
            </div>

            <div class="dialog-body">
                <form [formGroup]="newItemPurchaseFormGroup">
                    <div class="section">
                        <!-- <h4></h4> -->
                        <div class="mrp_row">
                            <div class="custom-input-container">
                                <label>MRP</label>
                                <input type="text" name="mrp" required tabindex="1" formControlName="mrp">
                                <small class="error-message">{{getErrorMessage('mrp')}}</small>
                            </div>

                            <!-- <div class="date-picker ml-32">

                                <div>
                                    <div class="custom-input-container">
                                        <label>Bill Date</label>
                                        <input tabindex="-1" [matDatepicker]="picker" readonly >
                                    </div>    
                                    <mat-datepicker #picker></mat-datepicker>
                                </div>

                                <button type="button" mat-mini-fab (click)="picker.open()" tabindex="2">
                                    <mat-icon>calendar_month</mat-icon>
                                </button>
                            </div> -->
                        </div>


                    </div>

                    <div class="section">
                        <!-- <h4>Quantity</h4> -->
                        <div class="quantity_row">
                            <div class="custom-input-container">
                                <label>Box/Carton</label>
                                <input type="text" name="quantityBox" formControlName="quantityBox" required
                                    tabindex="2">
                                <small class="error-message">{{getErrorMessage('quantityBox')}}</small>
                            </div>
                            <div class="custom-input-container ml-32">
                                <label>Piece/Pack Per Carton</label>
                                <input type="text" name="piecePerCarton" formControlName="piecePerCarton" required
                                    tabindex="3">
                                <small class="error-message">{{getErrorMessage('piecePerCarton')}}</small>
                            </div>

                            <div class="custom-input-container ml-32">
                                <label>Piece/Pack</label>
                                <input type="text" name="quantityPiece" formControlName="quantityPiece" required
                                    tabindex="4">
                                <small class="error-message">{{getErrorMessage('quantityPiece')}}</small>
                            </div>

                            <div class="custom-input-container ml-32">
                                <label>Free</label>
                                <input type="text" name="quantityFree" formControlName="quantityFree" required
                                    tabindex="5">
                                <small class="error-message">{{getErrorMessage('quantityFree')}}</small>
                            </div>
                        </div>
                    </div>

                    <div class="section">
                        <!-- <h4>Price</h4> -->
                        <div class="price_row">
                            <div class="custom-input-container">
                                <label>Enable Pur Price Aft Disc</label>
                                <mat-slide-toggle tabindex="6" [checked]="enable" (change)="onDiscountTypeChange($event)"></mat-slide-toggle>
                            </div>
                            <div class="custom-input-container">
                                <label>Purchase Price bef. Disc</label>
                                <input type="text" name="purchasePriceBeforeDiscount"
                                    formControlName="purchasePriceBeforeDiscount" required tabindex="7">
                                <small class="error-message">{{getErrorMessage('purchasePriceBeforeDiscount')}}</small>
                            </div>
                            <div class="custom-input-container ml-32">
                                <label>Total Discount</label>
                                <input type="text" name="discountPrice" formControlName="discountPrice" required
                                    tabindex="8">
                                <small class="error-message">{{getErrorMessage('discountPrice')}}</small>
                            </div>
                            <div class="custom-input-container ml-32">
                                <label>Purchase Price after Disc</label>
                                <input type="text" name="purchasePriceAfterDiscount"
                                    formControlName="purchasePriceAfterDiscount" required tabindex="9">
                                <small class="error-message">{{getErrorMessage('purchasePriceAfterDiscount')}}</small>
                            </div>
                            <div class="custom-input-container ml-32">
                                <label>Rate of GST</label>
                                <mat-select class="gst-dropdown" name="GST" formControlName="gst" tabindex="10">
                                    <mat-option value="5">5</mat-option>
                                    <mat-option value="12">12</mat-option>
                                    <mat-option value="18">18</mat-option>
                                    <mat-option value="28">28</mat-option>
                                </mat-select>
                                <small class="error-message">{{getErrorMessage('gst')}}</small>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="details_section">
                    <h3 class="details_section_heading">Details</h3>
                    <div>
                        <table>
                            <thead>
                                <tr>
                                    <th>Carton/Box</th>
                                    <th>Piece/Pack Per Carton/Box</th>
                                    <th>Piece/Pack</th>
                                    <th>Free</th>
                                    <th>Total Piece/Pack</th>
                                    <th>Amount Before GST</th>
                                    <th>Discount</th>
                                    <th>GST</th>
                                    <th>Tax Amount</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{getValue('quantityBox')}}</td>
                                    <td>{{getValue('piecePerCarton')}}</td>
                                    <td>{{getValue('quantityPiece')}}</td>
                                    <td>{{getValue('quantityFree')}}</td>
                                    <td class="highlight">{{totalQuantityPiece}}</td>
                                    <td>{{getValue('purchasePriceBeforeDiscount')}}</td>
                                    <td>{{getValue('discountPrice')}}</td>
                                    <td>{{getValue('gst')}}</td>
                                    <td>{{taxAmount}}</td>
                                    <td class="highlight">{{totalPrice}}</td>
                                </tr>
                            </tbody>
                        </table>

                        <p class="per_piece_purprice">Purchase Price Per Piece: {{purchasePricePerPiece}}</p>
                    </div>
                </div>
            </div>

        </div>

        <div class="dialog-footer">
            <button mat-flat-button color="warn" mat-dialog-close tabindex="-1" (click)="onCancel()">Cancel</button>
            <button mat-flat-button color="accent" class="add-button" tabindex="11" (click)="onAdd()">Add</button>
        </div>
    </div>
</div>