<div class="page-container">

    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Sl Id</th>
                    <th>Bill Date</th>
                    <th>Biller Name</th>
                    <th>Biller Phone</th>
                    <th>Biller GSTN</th>
                    <th>Amount ₹</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let purchase of purchases; let i = index" (click)="onPurchaseClick(purchase.purchase_uid)">
                    <td>{{i + 1}}</td>
                    <td>{{purchase.purchase_date | date:'dd-MMM-yyyy'}}</td>
                    <td>{{purchase.biller_name}}</td>
                    <td>{{purchase.biller_phone}}</td>
                    <td>{{purchase.biller_gstn}}</td>
                    <td>₹ {{purchase.total_price}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="paginator-container">
        <mat-paginator [length]="purchases[0]?.total_count" 
        [pageSize]="pageSize" aria-label="Select page" (page)="handlePageEvent($event)">
        </mat-paginator>

    </div>
</div>