<div class="searchbar">
    <app-search-item (onItemSelection)="onItemSelection($event)" [withStock]="true"></app-search-item>

    <button mat-flat-button color="accent" (click)="onItemSelection()">Click</button>
</div>

<div class="bill-inputs">
    <div class="date-picker">
        <div>
            <label for="bill-date">Bill Date</label>
            <input matInput id="bill-date" [max]="today" [matDatepicker]="picker" class="date-picker-input"
                [(ngModel)]="saleDate" disabled>
            <mat-datepicker #picker disabled="false"></mat-datepicker>
        </div>

        <button class="date-picker-button" (click)="picker.open()">
            <mat-icon>calendar_month</mat-icon>
        </button>
    </div>

    <div class="biller-details">

        <div class="custom-input-container">
            <label for="customer-name">Customer Name (Optional)</label>
            <input id="customer-name" type="text" name="customer-name" [(ngModel)]="customerName">
        </div>

        <div class="custom-input-container">
            <label for="customer-gstn">Customer GSTN (Optional)</label>
            <input id="customer-gstn" type="text" name="customer-gstn" [(ngModel)]="customerGSTN">
        </div>
    </div>

</div>

<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>Sl.</th>
                <th>Item Name</th>
                <th>MRP(₹)</th>
                <th>Box/Carton</th>
                <th>Piece</th>
                <th>Total Piece</th>
                <th>S. Price per Piece(₹)</th>
                <th>Total Amount(₹)</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let a of saleItems; let i =index">
                <td>{{i + 1}}.</td>
                <td>{{a.item_name}}</td>
                <td>{{a.mrp}}</td>
                <td>{{a.qtyBox}}</td>
                <td>{{a.qtyPiece}}</td>
                <td>{{a.qtyTotalPiece}}</td>
                <td>{{(a.totalAmount / a.qtyTotalPiece).toFixed(2)}}</td>
                <td>{{a.totalAmount}}</td>
            </tr>
            <tr class="summary-row">
                <td colspan="7"></td>
                <td colspan="1">₹ {{totalSaleAmount}}</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="cta-container">
    <button mat-flat-button color="warn">Cancel</button>
    <button mat-flat-button color="accent" (click)="onSubmit()">Submit</button>
</div>