<div class="searchbar">
    <app-search-item (onItemSelection)="onItemSelection($event)" [withStock]="true"></app-search-item>

    <!-- <button mat-flat-button color="accent" (click)="onItemSelection()">Click</button> -->
</div>
<p class="bill-no">Bill No: {{billNo}}</p>
<div class="bill-inputs">
    <div class="date-picker">
        <div>
            <label for="bill-date">Bill Date (DD/MM/YYYY)</label>
            <input matInput id="bill-date" [matDatepicker]="picker" (dateChange)="onDateChange()" class="date-picker-input"
                [(ngModel)]="saleDate" disabled>
            <mat-datepicker #picker disabled="false" ></mat-datepicker>
        </div>

        <button class="date-picker-button" (click)="picker.open()">
            <mat-icon>calendar_month</mat-icon>
        </button>

    </div>

    <div class="biller-details">
        <div class="customer-auto-complete">
            <label>Customer</label>
            <input type="text" class="search-input" placeholder="Search Customer" aria-label="Search Customer" matInput
                [formControl]="customerControl" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayWith"
                (optionSelected)="onCustomerSelection($event)">
                <mat-option *ngFor="let option of filteredCustomerOptions | async" [value]="option"
                    class="search-item-mat-option">
                    <p>{{ option.customer_name}}</p>
                    <div>
                        <span>{{option.customer_phone}}</span>
                    </div>
                </mat-option>
            </mat-autocomplete>
        </div>
        <button mat-flat-button class="add-customer-button" color="primary" (click)="onAddCustomer()">Add
            Customer</button>
        <!-- <div class="custom-input-container">
            <label for="customer-name">Customer Name (Optional)</label>
            <input id="customer-name" type="text" name="customer-name" [(ngModel)]="customerName">
        </div>
        <div class="custom-input-container">
            <label for="customer-phone">Customer Phone (Optional)</label>
            <input id="customer-phone" type="text" name="customer-phone" [(ngModel)]="customerPhone">
        </div>

        <div class="custom-input-container">
            <label for="customer-gstn">Customer GSTN (Optional)</label>
            <input id="customer-gstn" type="text" name="customer-gstn" [(ngModel)]="customerGSTN">
        </div> -->
    </div>

</div>

<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>Sl.</th>
                <th>Item Name</th>
                <!-- <th>MRP(₹)</th> -->
                <th>Box/Carton</th>
                <th>Piece</th>
                <th>Total Piece</th>
                <th>S. Price per Piece(₹)</th>
                <th *ngIf="showGSTColumn">GST</th>
                <th *ngIf="showProfitColumn">Profit</th>
                <th>Total Amount(₹)</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let a of saleItems; let i =index" (dblclick)="onDoubleClick(a,i)">
                <td>{{i + 1}}.</td>
                <td>{{a.item_name}}</td>
                <!-- <td>{{a.mrp}}</td> -->
                <td>{{a.qtyBox}}</td>
                <td>{{a.qtyPiece}}</td>
                <td>{{a.qtyTotalPiece}}</td>
                <td>{{(a.totalAmount / a.qtyTotalPiece).toFixed(2)}}</td>
                <td *ngIf="showGSTColumn">{{a.totalGSTEarned}}</td>
                <td *ngIf="showProfitColumn">{{a.totalProfitEarned}}</td>
                <td>{{a.totalAmount}}</td>
            </tr>
            <tr class="summary-row">
                <td colspan="6">Total</td>
                <td colspan="1" *ngIf="showGSTColumn">₹ {{totalGstAmount}}</td>
                <td colspan="1" *ngIf="showProfitColumn">₹ {{totalProfitAmount}}</td>
                <td colspan="1">₹ {{totalSaleAmount}}</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="cta-container">
    <div>
        <button mat-flat-button color="warn" (click)="onCancelSale()">Cancel</button>
        <mat-checkbox color="accent" name="showGST" (change)="toggleShowGST($event)">Show GST</mat-checkbox>
        <mat-checkbox color="accent" name="showProfit" (change)="toggleShowProfit($event)">Show Profit</mat-checkbox>
    </div>
    <div>
        <button mat-flat-button color="accent" (click)="showGstDetails = !showGstDetails">
            <mat-icon>{{showGstDetails ? "arrow_drop_up" : "arrow_drop_down" }}</mat-icon> 
            {{showGstDetails ? 'Hide' : 'Show'}} GST Details
        </button>
        <button mat-flat-button color="accent" (click)="onSubmit()"
            [disabled]="customerControl.invalid || saleItems.length === 0">Submit</button>
    </div>

</div>

<div class="sale-details-footer">
    <div class="gst-details" *ngIf="showGstDetails">
        <table >
            <thead>
                <tr>
                    <th>GST Rate</th>
                    <th>5 (%)</th>
                    <th>12 (%)</th>
                    <th>18 (%)</th>
                    <th>28 (%)</th>
                    <th>Total (₹)</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <th>Amount (₹)</th>
                    <td>{{gstDetails['5']}}</td>
                    <td>{{gstDetails['12']}}</td>
                    <td>{{gstDetails['18']}}</td>
                    <td>{{gstDetails['28']}}</td>
                    <td>{{gstDetails['total']}}</td>
                </tr>
            </tbody>


        </table>
    </div>
</div>