@import '../../constant.scss';

.searchbar {
    display: flex;
    justify-content: center;
}

.bill-inputs {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 0.5rem;

    .custom-input-container {
        width: 200px;
        input {
            border-width: 1px;
        }
    }

    .biller-details {
        display: flex;
        // flex: 1;
        gap: 1rem;

    }
}
.date-picker {
    width: 180px;
    display: flex;
    align-items: flex-end;
    // border: 1px solid red;
    justify-content: space-between;
    &-input {
        // display: inline-block;
        outline: none;
        border: 1px solid $grey;
        border-radius: 4px;
        background-color: transparent;
        padding: 0.25rem;
        font-size: 1rem;
        color: white;
        width: 150px;
    }

    label[for="bill-date"] {
        display: inline-block;
        font-size: 0.8rem;
        color: $grey;
    }

    &-button {
        outline: none;
        border: none;
        background-color: $green;
        color: $purple;
        padding: 0;
        margin: 0;
        cursor: pointer;
        border-radius: 4px;
    }
}


.table-container {
    margin-top: 0.5rem;
    max-height: 55vh;
    overflow-y: auto;
    border: 1px solid white;
    table {
        
        width: 100%;
        border-collapse: separate;
        border-spacing: 0;
        thead tr {
            position: sticky;
            top: 0;

            th {
                color: $green;
                font-size: 0.8rem;
                font-weight: 500;
                padding: 0.2rem 0.2rem;
                border: 1px solid white;
                background-color: $black;
                text-align: left;
            }
        }

        tbody tr {
            cursor: pointer;
            &:hover {
                background-color: $deep-purple;
            }

            
            &.summary-row {
                position: sticky;
                bottom: 0;
                background-color: $black;
                td {
                    color: $green;
                    font-size: 0.8rem;
                    font-weight: 500;
                    padding: 0.2rem 0.2rem;
                    border: 1px solid white;
                    text-align: left;

                    &.align-center {
                        text-align: center;
                    }
                }
            }
        }

        td {
            padding: 0.1rem 0.2rem;
            font-size: 0.75rem;
            color: white;
            border: 1px solid #444;
            &.highlight {
                color: white;
                font-weight: 500;
            }
    
            &.td_item_name {
                width: 200px;
            }
    
            &.summary {
                font-size: 0.8rem;
                color: $green;
                font-weight: 400;
            }
        }

    }
}

.bill-summary {
    display: flex;
    padding: 0.2rem 0;
    justify-content: space-between;
    p {
        padding: 0;
        margin: 0;
    }
}

.cta-container {
    display: flex;
    margin-top: 0.5rem;
    justify-content: flex-end;
}

p.bill-no {
    margin: 0;
    padding: 0;
    font-weight: 500;
    text-align: right;
}