<div class="page-container halfwidth">

    <h2>Brand Wise Stock Listing</h2>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th class="slid">Sl Id</th>
                    <th>Brand </th>
                    <th class="worth">Approx. Worth (₹)</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let stock of stocks; let i = index" (click)="onStockClick(stock.brand_id)">
                    <td>{{i+1}}</td>
                    <td>{{stock.brand_name}}</td>
                    <td class="worth">{{stock.total_stock}}</td>
                </tr>    
                <tr class="summary-row">
                    <td colspan="2">Total Stock Worth</td>
                    <td class="worth">{{total}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
