$extra-x-small: 380px;
$extra-small: 576px;
$small: 576px;
$medium: 768px;
$large: 992px;
$normal: 1024px;
$extra-large: 1200px;
$xxl: 1440px;





$purple: #7b1fa2;
$deep-purple: #310c40;
$black: #303030;
$grey: #ffffff99;
$red: #f44336;