<form class="form" (submit)="onSubmit($event)">
  <!-- <mat-form-field class="input-full-width" appearance="outline"> -->
  <!-- <mat-label>Search Item</mat-label> -->
  <input type="text" class="search-input" placeholder="Search Item" aria-label="Search Item" matInput
    [formControl]="control" [matAutocomplete]="auto">
  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayWith" (optionSelected)="onSelection($event)">
    <mat-option *ngFor="let option of filteredOptions | async" [value]="option" class="search-item-mat-option">
     <div>
       <p>{{option.item_name}} </p>
        <span class="total_quantity">({{option.total_quantity}})</span>
     </div>
      <div>
        <span>In: {{option.category_name}}</span>
        <span>From: {{option.brand_name}}</span>

      </div>
    </mat-option>
  </mat-autocomplete>
  <!-- </mat-form-field> -->
</form>