<ul class="menu">
    <!-- <h2 class="menu_label">Main Navigation</h2> -->
    <li><a class="main_menu_link" routerLink="/sale" routerLinkActive="activelink"
            [routerLinkActiveOptions]="{exact: true}">
            <mat-icon>
                shopping_cart_checkout
            </mat-icon> Sale
        </a></li>
    <li><a class="main_menu_link" routerLink="/purchase" routerLinkActive="activelink"
            [routerLinkActiveOptions]="{exact: true}">
            <mat-icon>add_shopping_cart</mat-icon> Purchase
        </a></li>
    <li><a class="main_menu_link" routerLink="/stock" routerLinkActive="activelink"
            [routerLinkActiveOptions]="{exact: true}">
            <mat-icon>inventory</mat-icon> Stock
        </a></li>
</ul>