<ul class="menu">
    <!-- <h2 class="menu_label">Main Navigation</h2> -->
    <li><a class="main_menu_link" haveSubmenu>
            <mat-icon> shopping_cart_checkout </mat-icon> Sale
            <mat-icon class="carret">arrow_right</mat-icon>
        </a>
        <ul class="sub_menu">
            <li>
                <a class="sub_menu_link" routerLink="/sale" routerLinkActive="activelink"
                    [routerLinkActiveOptions]="{exact:true}">New Sale</a>
            </li>
            <li>
                <a class="sub_menu_link" routerLink="/sale/list-sales" routerLinkActive="activelink"
                    [routerLinkActiveOptions]="{exact:true}">Sale History</a>
            </li>
        </ul>
    </li>

    <li><a class="main_menu_link" haveSubmenu>
            <mat-icon>add_shopping_cart</mat-icon> Purchase
            <mat-icon class="carret">arrow_right</mat-icon>
        </a>

        <ul class="sub_menu">
            <li>
                <a class="sub_menu_link" routerLink="/purchase" routerLinkActive="activelink"
                    [routerLinkActiveOptions]="{exact:true}">Purchase Entry</a>
            </li>
            <li>
                <a class="sub_menu_link" routerLink="/purchase/list-purchases" [queryParams]="{pagesize: 15, pageno:1 }"
                    routerLinkActive="activelink" [routerLinkActiveOptions]="{exact:true}">Purchase History</a>
            </li>
        </ul>

    </li>
    <li>
        <a class="main_menu_link" haveSubmenu>
            <mat-icon>inventory</mat-icon> Stock
            <mat-icon class="carret">arrow_right</mat-icon>
        </a>
        <ul class="sub_menu">
            <li>
                <a class="sub_menu_link" routerLink="/stock" routerLinkActive="activelink"
                    [routerLinkActiveOptions]="{exact:true}">All Stocks</a>
            </li>
            <li>
                <a class="sub_menu_link" routerLink="/stock/newbrand" routerLinkActive="activelink"
                    [routerLinkActiveOptions]="{exact:true}">Create Brand</a>
            </li>
            <li>
                <a class="sub_menu_link" routerLink="/stock/newcategory" routerLinkActive="activelink"
                    [routerLinkActiveOptions]="{exact:true}">Create Category</a>
            </li>
            <li>
                <a class="sub_menu_link" routerLink="/stock/newitem" routerLinkActive="activelink"
                    [routerLinkActiveOptions]="{exact:true}">Create Item</a>
            </li>
        </ul>

    </li>
    <li>
        <a class="main_menu_link" haveSubmenu>
            <mat-icon>group</mat-icon> Biller & Customer
            <mat-icon class="carret">arrow_right</mat-icon>
        </a>
        <ul class="sub_menu">
            <li>
                <a class="sub_menu_link" routerLink="/relations/my-billers" routerLinkActive="activelink"
                    [routerLinkActiveOptions]="{exact:true}">Biller</a>
            </li>
            <li>
                <a class="sub_menu_link" routerLink="/relations/my-customers" routerLinkActive="activelink"
                    [routerLinkActiveOptions]="{exact:true}">Customer</a>
            </li>
        </ul>

    </li>
    <li>
        <a class="main_menu_link" haveSubmenu>
            <mat-icon>receipt</mat-icon> Reports
            <mat-icon class="carret">arrow_right</mat-icon>
        </a>
        <ul class="sub_menu">
            <li>
                <a class="sub_menu_link" routerLink="/reports/sale-reports" routerLinkActive="activelink"
                    [routerLinkActiveOptions]="{exact:true}">Sale Reports</a>
            </li>
            <li>
                <a class="sub_menu_link" routerLink="/reports/profit-reports" routerLinkActive="activelink"
                    [routerLinkActiveOptions]="{exact:true}">Profit Reports</a>
            </li>
            <!-- <li>
                <a class="sub_menu_link" routerLink="/reports/purchase-reports" routerLinkActive="activelink"
                    [routerLinkActiveOptions]="{exact:true}">Purchase Reports</a>
            </li> -->
            <li>
                <a class="sub_menu_link" routerLink="/reports/stock-reports" routerLinkActive="activelink"
                    [routerLinkActiveOptions]="{exact:true}">Current Stock</a>
            </li>
        </ul>
    </li>
</ul>