@import '../../constant.scss';


.form {
    width: 450px;
    height: 300px;

    .header {
        color: white;
        text-align: center;
    }

    .input-full-width {
        width: 100%;
    }

    button[type="submit"] {
        width: 100%;
    }
}