/* You can add global styles to this file, and also import other style files */
@import './app/constant.scss';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;

  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px $black;
    border-radius: 2px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $purple;
    border-radius: 4px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $purple;
  }
}


.page-container {
  min-height: calc(100vh - 90px);
}

.full-page-container {
  min-height: 100vh;
}

.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-purchase-popup .mat-mdc-dialog-container .mdc-dialog__surface {
  // background-color: white;
}



//  custom input

.custom-input-container {
  width: 150px;

  label {
    display: inline-block;
    font-size: 0.8rem;
    color: $grey;
  }

  input[type="text"],
  input[type="password"],
  select {
    display: inline-block;
    outline: none;
    border: 1px solid $grey;
    border-radius: 4px;
    background-color: transparent;
    padding: 0.25rem;
    font-size: 1rem;
    color: white;
    width: 100%;

    &:focus {
      border: 1px solid $green;
      background-color: $dark-black;
    }

    &:disabled {
      border-color: $grey;
      color: $grey;
    }
  }

  .mat-mdc-radio-button .mdc-radio {
    padding: 0;
  }

  input.ng-touched.ng-invalid {
    border-color: $red
  }


  .error-message {
    color: $red;
    font-size: 0.75rem;
    font-weight: 500;
  }

}


.search-item-mat-option:not(:last-child) {
  border-bottom: 0.7px solid $green;
}

.search-item-mat-option.mdc-list-item--selected .mdc-list-item__primary-text,
.search-item-mat-option.mdc-list-item--activated .mdc-list-item__primary-text {
  color: $green;
}

.search-item-mat-option.mat-mdc-option .mdc-list-item__primary-text {
  display: block;
  width: 100%;

  >p {
    margin: 0;
  }

  div {
    display: flex;
    justify-content: space-between;

    span {
      font-size: 0.7rem;
      color: $green;

      &.total_quantity {
        font-size: 0.9rem;
      }
    }
  }
}


.report-type-dropdown {
  border: 1px solid $grey;
  padding: 1px 4px;
  border-radius: 4px;

  &:focus {
    border: 2px solid $green;
  }
}

.mdc-text-field--disabled.mdc-text-field--filled {
  background-color: transparent;
}


.mat-date-range-input-container {
  width: 100%;
}

.mat-date-range-input-wrapper {
  max-width: unset !important;
  width: calc(50% - 1rem);
}